/* footer  */
.footer {
  padding: 3em 0;
  margin-top: 3rem;
  border-top: 1px solid #ccc;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-fg);
}

.page-info {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-title {
  margin-bottom: 1rem;
}

.social {
  margin-right: 0.6rem;
}

.hidden-social-icons {
  display: none;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }

  .footer h3 {
    font-size: 1rem;
  }
  .footer a {
    font-size: 0.8rem;
  }
  .social-icons {
    display: none;
  }

  .hidden-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
}
