/* global */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}
/* 
h4 {
  font-size: 1.3rem;
} */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}

/* app  */
.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  min-height: 100vh;
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #45453d;
  --clr-fg-alt: #38312e;
  --clr-primary: #c397c7;
  --shadow: rgba(160, 160, 160, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #191d32;
  --clr-bg-alt: #282f44;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #b1d4e0;
  --clr-primary: #1597bb;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  width: 95%;
}

.section__title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
}

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:hover,
.btn--outline:focus {
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  transition: 0.2s ease-in-out;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media (max-width: 600px) {
  .section {
    margin-bottom: 2em;
  }
}

/* header  */
.header {
  height: 5em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}

/* navbar  */
.nav__list {
  margin-right: 1.5em;
  display: flex;
}
.nav__list-item {
  margin-left: 1.5em;
}

.app .nav__hamburger {
  display: none;
}

.nav__theme {
  margin-top: 0.4em;
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .app .nav__hamburger {
    display: flex;
    z-index: 2;
    margin-left: 0.8em;
  }
}

/* introduction */
.introduction {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.intro-title {
  position: relative;
  margin: 3rem 0;
  text-align: center;
}

.intro-title .content {
  text-align: left;
}

.intro-cover {
  position: relative;
  height: 45vh;
}

/* card */
.section {
  margin-bottom: 4rem;
}
.section-title {
  margin-bottom: 2rem;
  display: inline-block;
}
.card {
  margin: 0 auto;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  position: relative;
  width: 100%;
}

.cards-grid-2 {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
  margin-bottom: 2rem;
}

.cards-grid-2 .img-card {
  height: 30vh;
}

.cards__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.img-card {
  position: relative;
  width: 100%;
  height: 20vh;
}

.text-card {
  padding: 1.5rem;
}

/* footer  */
.footer {
  padding: 3em 0;
  margin-top: 3rem;
  border-top: 1px solid #ccc;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-fg);
}

.page-info {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-title {
  margin-bottom: 1rem;
}

.social {
  margin-right: 0.6rem;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}

/* scroll to top  */
.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: transparent;
}

@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}

/* slug */
.content h1 {
  margin: 3rem 0;
  text-align: center;
}
.content h2 {
  margin: 2rem 0;
}
.content p,
img {
  margin: 1rem 0;
}
.content ul {
  margin-left: 1rem;
  list-style-type: disc;
}
.content img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
}
.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: italic;
  margin-top: 2rem;
}
.author {
  display: flex;
}
.avatar {
  position: relative;
  width: 56px;
  height: 6vh;
}
.author-name {
  padding-left: 1rem;
}
.caption {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}
.sign {
  text-align: right;
}
/* pagination  */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;
}
.page {
  padding: 0.7rem 1rem;
  background-color: var(--clr-primary);
  margin: 0 0.5rem;
}
.load-more {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
