.introduction {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.intro-title {
  position: relative;
  margin: 3rem 0;
  text-align: center;
}

.intro-title .content {
  text-align: left;
}

.intro-cover {
  position: relative;
  height: 45vh;
}
